@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --dark-gray: #4c4c4c;
  --blue-600: #2e3095;
  --red: #f01a26;
  --green: #008335;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
